@use "./variables.scss" as *;

:root {
  --headerFont: "Cinzel";
  --bodyFont: "Grenze";
  --codeFont: "IBM Plex Mono";
}

body {
  font-family: "Grenze" !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Cinzel" !important;
}